.booking-info {
  vertical-align: top;
  width: 100%;
  background-color: #eeeeee;
  margin: 15px auto;
  width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  & tr {
    border-style: hidden;
  }
}

body {
  font-size: 16px;
}

h2 {
  color: gray !important;
}

.show-photo {
  align-items: left;
}

.booking-container {
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 0px 80px;
}
