<h1>My dresses</h1>
<% @dresses.each do |dress| %>
  <p><%= dress.name %></p>
<% end %>

<h1>My borrowed dresses</h1>
<% @borrowed_dresses.each do |dress| %>
  <p><%= dress.name %></p>
<% end %>


<h1>My Rented dresses</h1>
<%  @my_bookings.each do |booking|%>
<%= booking.dress.name %>
<% end  %>
