.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #A58BFE;
  transition: background 0.3s ease;
  a {
    text-decoration: none;
    color: white;
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}
.btn-flat:hover {
  background: #9678FE;
  color: white;
}

.button-primary {
  background: #A58BFE;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.button-primary:hover{
  background: #9678FE;
  color: white;
}

.button-primary-homepage {
  background: #A58BFE;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin: 30px;
}

.button-primary-homepage:hover {
  background: #9678FE;
  color: white;
}

.submit-button {
  position: absolute;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  border: none;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background: #A58BFE;
  color: white;
}
  .submit-button:hover {
  background: #9678FE;
  color: white;
  transition: opacity 0.3s ease;
}


