.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8575A9;
  transition: background 0.3s ease;
  a {
    text-decoration: none;
    color: white;
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}
.btn-flat:hover {
  background: #8575A9;
  color: white;
}

.btn-primary {
  background: #8575A9;
  color: white;
}
