.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #A58BFE;
  transition: background 0.3s ease;
  a {
    text-decoration: none;
    color: white;
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}
.btn-flat:hover {
  background: #A58BFE;
  color: white;
}

.button-primary {
  background: #A58BFE;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.button-primary:hover{
  background: #A58BFE;
  color: white;
}

.button-primary-homepage {
  background: #A58BFE;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  transition: opacity 0.3s ease;
  margin: 30px;
}

.button-primary-homepage:hover {
  background: #A58BFE;
  color: white;
}




