.home-cards {
  margin-left: 30px;
  margin-right: 30px;
  height: 100% !important;
  border-radius: 16px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
h2 {
  font-size: 18px;
  color: black !important;
  padding-top: 18px;
  padding-left: 18px;
  }

p {
  color: #717171 !important;
  padding-left: 18px !important;
  }
}

.cocktail-card {
  margin-left: 30px;
  margin-right: 30px;
h2 {
  font-size: 18px;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
}

// .cards {
//   padding-left: 58px;
//   padding-bottom: 15px;
//   margin-bottom: 15px;
// }

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:black;
}
.cards-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin:auto;
}

.dress-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 8px;
}

.dress-card > img {
  width: 100%;
  object-fit: cover;
}

.dress-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  opacity: 0.9;
}

.dress-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.dress-card .dress-card-info {
  padding: 16px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-booking {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 18px;
}

.card-booking a {
  text-decoration: none;
  font-size: 12px;
}
