.new-dress-container {
  justify-content: center !important;
  margin: 80px auto;
  width: 600px;
  background-color: white;
  padding:16px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-control {
  margin: 0 auto;
  display: block;
  border-radius: 20px !important;
}

.submit-button{
  justify-content: center !important;
}
