.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  .nav-link {
  color: #6f42c1 !important;
  }
  width: 100%;
  padding: 16px;
  transition: all 0.3s ease;
}

.navbar-white {
  background-color: white !important;
  .nav-link {
    color: black !important;
  }
}
