// .productpagetitle {
//   padding : 0 0 0 0
//   font-family: Arial, sans-sherif
//   border:  0px solid #AFC7C7
//   margin: 0 0 0 0
//   font-weight: normal
//   font-size: 4
//   color: #616D7E
//   clear:  none
//   position:fixed
//   left: 575px
// }

.flex-container {
  display: flex;
  justify-content: center;
}

.title{
  text-center: center;
}



#dress-booking-form {
  & a{
  color: white;
}
}

.dress-info{
  margin-top: px;
}

.link {
  vertical-align: top;
  text-align: left;
  text-decoration: underline;
}

.links{
  display: flex;
  width: 100%;
  justify-content: space-between;
  top:60px;
  margin-top:150px;
}
.description {
  margin-top: 50px;
  left: 40%;
  text-decoration: bold
}

.default-dress{
  max-width: 100%;

}
