// .productpagetitle {
//   padding : 0 0 0 0
//   font-family: Arial, sans-sherif
//   border:  0px solid #AFC7C7
//   margin: 0 0 0 0
//   font-weight: normal
//   font-size: 4
//   color: #616D7E
//   clear:  none
//   position:fixed
//   left: 575px
// }

.flex-container {
  display: flex;
  justify-content: center;
}


.left {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.right {
  height: 100vh;
}

#dress-booking-form {
  & a{
  color: white;
}
}

.dress-info{
  margin-top: 200px;
}
